<div id="main-content">
  <div class="container">
    <h1>Vídeos Tech</h1>
    <h4> Fique por dentro do melhor conteúdo de tecnologia no Youtube, todo dia!</h4>

    <% @videos2day = @videos.where(published_at: 2.days.ago..Time.now) %>
    <% @videos5day = @videos.where(published_at: 50.days.ago..Time.now) %>

      <h2>Hoje</h2>

      <h2> Ontem </h2>

      <h2>Dessa Semana</h2>
        <% @videos5day.in_groups_of(4) do |group| %>
          <div class="row">
            <% group.each do |video| %>
              <% if video %>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="panel-default">
                    <%= image_tag(video.thumbnail_url, class:"responsive-img") %>
                    <h3><%= link_to video.title, video.url %></h3>
                    <h5><%= video.channel_title %> | <%= time_ago_in_words(video.published_at) %></h5>
                    <!-- <p><%= video.description %></p> -->
                  </div>
                </div>
                <% end %>
              <% end %>
          </div>
            <% end %>
